

@media screen and (max-width: 1699px) {}
@media screen and (max-width: 1679px) {}
@media screen and (max-width: 1599px) {
    .section_main_title_wa h3 {
        font-size: 34px;
        line-height: 1.25;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 1549px) {
    .feature_wapper_flex {
        display: flex;
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    .feature_wapper_card {
        width: 25%;
        padding: 15px;
        transition: all 0.8s;
    }
    .about_us_image_main_image_exp_main {
        position: absolute;
        top: -80px;
        right: 0px;
    }
    .li_text-diff {
        font-size: 26px;
    }
}
@media screen and (max-width: 1499px) {
    .image_icon_inner img {
        height: 44px;
        object-fit: contain;
    }
    section.discount_section li span {
        font-size: 43px;
    }
    section.discount_section  li {
        font-size: 18px;
    }
   
    .our_expert_right {
        width: 50%;
        padding-left: 40px;
    }
    ul.accordion-list li {
    padding-bottom: 30px;
}
.feature_wapper__card_image {
    height: 75px;
    width: 75px;
}
}
@media screen and (max-width: 1439px) {
    .announcement-bar.section-announcement-bar-block .announcement_bar_block_wapper {
        font-size: 22px;
    }
    .banner_right_wapper {
        padding: 0 50px;
    }
    .banner_right_wapper_heading h1 {
        font-size: 38px;
    }
    section.banenr_section .li_price {
        font-size: 36px;
    }
    .about_us_heading h2 {
        font-size: 36px;
        line-height: 43px;
    }
    .section_sub_title_comm p {
        font-size: 19px;
    }
    .about_us_left_wapper_inner {
        max-width: 90%;
    }
    .feature_wapper_card {
        width: 30%;
        padding: 15px;
        transition: all 0.8s;
    }
    .price_plane_card_top_wapper_price p {
        font-size: 45px;
    }
    .price_plane_card_top_wapper_heading {
        font-size: 19px;
        text-align: center;
    }
    .price_plane_card_top_wapper_timer {
        text-align: center;
        font-size: 19px;
    }
    .price_plane_card_bottam_wapper_dis_list ul li {
        font-size: 17px;
    }
    .last_waspper {
        padding: 76px;
    }
}
@media screen and (max-width: 1365px) {
    .image_icon_inner {
        padding: 12px 24px;
    }
    .bottam_cart_wapper_main_inner span.stike-li.small-li {
        font-size: 1.15rem;
    }
    .bottam_cart_wapper_main_inner .li_price {
        font-size: 36px;
    }
    .price_single_section .li_price {
        font-size: 36px;
    }
    .discount_right_wapper {
        padding: 10px 50px;
        width: 60%;
    }
    .feature_wapper__card_title h4 {
        font-size: 25px;
        margin-bottom: 8px;
    }
    .testimonial_right_wapper_slider .slick-list.draggable {
        padding: 20px 30px;
    }
    .testimonial_right_card_midd_flex_wapper_dis {
        font-size: 17px;
    }
    .bonus_image_wapper {
        position: absolute;
        top: -40%;
    }
    .bonus_meta_dis {
        font-size: 18px;
    }
    ul.accordion-list li h3 {
    font-size: 20px;
}
}
@media screen and (max-width: 1279px) {
    .price_bundler_wapper_list_wapper {
        display: flex;
        width: auto;
        gap: 20px;
        width: 50%;

    }
    .price_plane_flex {
        display: flex;
        width: auto;
        justify-content: space-between;
    }
    .banner_right_wapper_brand_logo {
        max-width: 25%;
    }
    .li_learn-wrap {
        grid-column-gap: 36px;
        grid-row-gap: 36px;
    }
    .li_circle {
         border: 1.5px solid #ffffff00;
        width: 25px;
        height: 25px;
    }
    .price_plane_card_main {
        width: 33%;
        padding: 17px;
    }.li_text-large {
        font-size: 1rem;
    }
   
    .price_bundler_wapper_list_wapper {
        gap: 10px;
    }
    .bottam_cart_wapper_main_inner {
        padding-right: 0;
        padding-left: 0;
    }
    .bottam_cart_wapper_main_inner .li_price {
        font-size: 32px;
    }
    .price_single_section .li_price {
        font-size: 32px;
    }
    .price_bundler_wapper_inner {
        padding: 100px 40px 60px 40px;
        background: black;
        border-radius: 50px;
        position: relative;
    }
    .banner_right_wapper_heading h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .banner_right_wapper_heading {
        margin-bottom: 17px;
    }
    .enquiry_button_main .gmwqp_inquirybtn_loop a.button.gmwqp_inq {
        font-size: 16px;
        padding: 15px 0;
    }
    section.banenr_section .gmwqp_inquirybtn_loop {
        width: 100%;
        max-width: 100%;
    }
    .fooer_discriptions {
        font-size: 17px;
    }
    .footer_social_media_main_wapper ul li a {
        padding: 9px;
    }
    .footer_contact_wapper_meq a {
        font-size: 20px;
    }
    .footer_contact_wapper {
        margin-bottom: 11px;
    }
    .iamge_icon_main {
        width: 25%;
        padding: 10px;
    }
    .section_main_title_wa h3 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .discount_flex {
        padding: 30px;
    }
    .discount_right_wapper_heading h3 {
        font-size: 29px;
        line-height: 32px;
    }
    .discount_right_wapper_sub_heading {
        font-size: 16px;
    }
    section.discount_section li span {
        font-size: 37px;
    }
    section.discount_section  li {
        padding: 0.8em;
    }
    .about_us_left_wapper_inner {
        max-width: 100%;
    }
    .feature_wapper_card {
        width: 32%;
        padding: 15px;
        transition: all 0.8s;
    }
    .feature_wapper__card_inner {
        padding: 23px;
    }
    .our_expert_right {
        width: 50%;
        padding-left: 0px;
    }
    .our_expert_left_inner_meta_list_icon i {
        font-size: 45px;
        color: #ff930e;
    }
    
    .price_plane_card_inner {
        padding: 12px;
    }
    .testimonial_right_card_inner {
        padding: 20px;
        
    }
    .testimonial_right_card_main {
        width: 46%;
        margin-right: 20px;
    }
    .testimonial_right_card_midd_flex_wapper_dis {
        font-size: 16px;
        line-height: 24px;
    }
    .bonus_main_wapper {
        width: 33.33%;
        padding: 15px;
    }
    .bonus_meta_main {
        position: relative;
        padding: 110px 20px;
        transition: 0.5s;
    }
    .bonus_image_wapper {
        position: absolute;
        top: -46%;
    }
    .bonus_meta_price .li_price {
        font-size: 23px;
        text-align: center;
        margin-top: 25px;
    }
    .why_choose_card_heading {
        padding: 16px 10px;
    }
    .last_waspper {
        padding: 74px;
    }
    .meet_our_expert_flex {
        flex-wrap: wrap;
    }
    .meet_our_expert_right_wapper_inner {
        max-width: 100%;
        margin-top: 40px;
    }
    .meet_our_expert_left_wapper {
        width: 100%;
    }
    .meet_our_expert_right_wapper {
        width: 100%;
    }
    .meet_our_expert_left_wapper_botttam_review {
        padding-top: 0px;
    }
    .meet_our_expert_left_wapper_botttam_review_inner {
        padding: 40px;
    }
    .meet_our_expert_left_wapper_inner {
        align-items: center;
    }
    .meet_our_expert_left_wapper_botttam_review_dis {
        font-size: 22px;
    }
    .meet_our_expert_left_wapper_botttam_review_image {
        width: 20%;
    }
    .meet_our_expert_right_wapper_inner {
        max-width: 100%;
        margin-top: 20px;
        padding: 50px 50px;
    }
}
@media screen and (max-width: 1023px) {
    .announcement-bar-wrapper {
        padding: 12px 0;
    }
    .bottam_cart_wapper_main_inner span.stike-li.small-li {
        font-size: 1rem;
    }
    .bottam_cart_wapper_main_inner .li_price {
        font-size: 30px;
    }
    .price_single_section .li_price {
        font-size: 30px;
    }
    .announcement-bar.section-announcement-bar-block .announcement_bar_block_wapper {
        font-size: 20px;
    }
    .banner_right_wapper {
        padding: 0 41px;
    }
    .about_us_heading h2 {
        font-size: 33px;
        line-height: 43px;
    }
    .our_expert_left_image {
        max-width: 90%;
    }
}
@media screen and (max-width: 991px) {
    .process_cart_section_image {
        max-width: 100%;
        margin: 0 auto;
    }
    .pop-up-main-wapper-inner {
        max-width: 90%;
        margin: 0 auto;
    }
    .pop-up-main-wapper-meta-title h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .pop-up-main-wapper-right {
        padding: 30px;
    }
    .pop-up-main-wapper-meta .enquiry_button_main .gmwqp_inquirybtn_loop a.button.gmwqp_inq {
        font-size: 18px;
        padding: 12px 0;
    }
    section {
        padding: 45px 0;
    }
    section.our_expert_Section.get_certificates_section .our_expert_right{
        padding-right: 0;
    }
    .pop-up-main-wapper-meta #countdown_pop_up ul li span {
        font-size: 35px;
    }
    .pop-up-main-wapper-meta #countdown_pop_up ul li span {
        height: 67px;
    }
    .pop-up-main-wapper-meta #countdown_pop_up ul li p.countdown_pop_ver {
        font-size: 12px;
    }
    .li_learn-content-wrap {
        padding: 34px 20px;
    }
    .li_text-diff {
        font-size: 22px;
    }
    .pop-up-main-wapper-meta .gmwqp_inquirybtn_loop {
        margin-top: 25px;
    }

    .bottam_cart_wapper_flex_right {
        width: 55%;
    }
    .bottam_cart_wapper_flex_center {
        width: 20%;
        display: none;
    }
    .bottam_cart_wapper_flex {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: space-between;
    }
    .follow_on_soc_wapper_disc {
        font-size: 18px;
    }
    .section_main_title_wa h3 {
        font-size: 30px;
        line-height: 1.25;
        margin-bottom: 25px;
    }
    .follow_on_soc_wapper_inner {
        padding: 40px;
    }
  
    .price_bundler_wapper_list_of_view {
        display: flex;
        width: auto;
        flex-wrap: wrap;
        row-gap: 33px;
    }
    ul.accordion-list li {
        padding-bottom: 25px;
        padding: 12px;
    }
    ul.accordion-list li h3 {
        font-size: 19px;
    }
    .banner_video_flex {
        display: flex;
        flex-wrap: wrap;
    }
    .banner_left_wapper {
        width: 100%;
    }
    .banner_right_wapper {
        padding: 40px 0;
        width: 100%;
    }
    .fooer_discriptions {
        max-width: 88%;
    }
    .footer_logo {
        max-width: 50%;
    }
    .footer_social_media_main_wapper ul li svg {
        fill: white;
        height: 20px;
        width: 20px;
    }
    .image_icon_wapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .image_icon_inner img {
        height: 33px;
        object-fit: contain;
    }
    .discount_flex {
        padding: 30px;
        flex-wrap: wrap;
    }
    .discount_left_wapper {
        width: 100%;
    }
    .discount_right_wapper {
        padding: 32px 30px;
        width: 100%;
    }
    .about_us_flex {
        display: flex;
        width: auto;
        align-items: center;
        flex-wrap: wrap;
    }
    .about_us_left_wapper {
        width: 100%;
    }
    .about_us_right_wapper {
        width: 100%;
    }
    .about_us_left_wapper_inner {
        max-width: 80%;
    }
    .about_us_image_main_image_exp_main {
        position: absolute;
        top: -80px;
        right: 0px;
    }
    .feature_section_title {
        text-align: center;
        padding: 10px 15px;
    }
    .feature_wapper__card_image {
        padding: 16px;
    }
    .feature_wapper__card_image i {
        font-size: 35px;
    }
    .feature_wapper__card_dis {
        font-size: 17px;
        margin-top: 20px;
    }
    .feature_wapper_card {
        width: 32%;
        padding: 10px;
        transition: all 0.8s;
    }
    .feature_wapper__card_inner {
        padding: 15px;
    }
    .our_expert_flex {
        display: flex;
        flex-wrap: wrap;
    }
    .our_expert_left {
        width: 100%;
    }
    .our_expert_left_image {
        max-width: 100%;
    }
    .our_expert_right {
        width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .our_expert_left_inner_meta_list_icon {
        width: 10%;
        margin-right: 20px;
    }
    .price_plane_flex {
        display: flex;
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .price_plane_card_main {
        width: 50%;
        padding: 18px;
    }
    div#price_plane_active {
        transform: none;
    }
    .price_plane_card_top_wapper_price p {
        font-size: 38px;
    }
    .price_plane_card_inner {
        padding: 25px 12px;
    }
    .testimonial_flex {
        display: flex;
        width: auto;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .testimonial_left {
        width: 100%;
    }
    .testimonial_right_wapper {
        width: 100%;
        padding-left: 0;
    }
    .testimonial_right_wapper_slider .slick-list.draggable {
        padding: 20px 10px;
    }
    .testimonial_right_card_inner {
        padding: 30px;
    }
    .bonus_wapper_flex {
        display: flex;
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bonus_meta_main::after {
        content: none;
    }
    .bonus_meta_main:hover {
        background: linear-gradient(180deg, #474747 0%, #000000 94.87%);
    }
    .bonus_image_wapper {
        position: inherit;
        top: -46%;
    }
    .bonus_meta_main {
        position: relative;
        padding: 30px 20px;
        transition: 0.5s;
    }
    .bonus_inner_wapper {
        box-shadow: 0px 0px 15px 1px #d7d7d7;
        /* overflow: hidden; */
    }
    .bonus_main_wapper {
        width: 45%;
    }
    .bonus_wapper_flex {
        row-gap: 40px;
    }
    .logo_meta_bottam {
        max-width: 18%;
        padding: 15px;
    }
    section.bonus_section_main .feature_section_title {
        margin-bottom: 0;
    }
    .gallery_image_col {
        margin-right: 15px;
    }
    .gallery_image_col_img {
        margin-bottom: 20px;
    }
    .why_choose_card_main {
        width: 33.33%;
        padding: 9px;
        margin-bottom: 10px;
    }
    .why_choose_card_inenr {
        border-radius: 10px;
    }
    section {
        padding: 30px 0;
    }
}
@media screen and (max-width: 819px) {
    .about_us_heading h2 {
        font-size: 30px;
        line-height: 37px;
    }
    .feature_wapper_card {
        width: 42%;
        padding: 17px;
        transition: all 0.8s;
    }
    .testimonial_right_card_inner {
        padding: 25px;
    }
    .bonus_main_wapper {
        width: 48%;
    }
    .pop-up-main-wapper-meta-description {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .pop-up-main-wapper-right {
        padding: 20px;
    }
    .feature_wapper__card_image {
        height: 65px;
        margin-bottom: 24px;
        width: 65px;
    }
}
@media screen and (max-width: 767px) {
    .pop-up-main-wapper-left {
        width: 50%;
        display: none;
    }
    .announcement-bar.section-announcement-bar-block .announcement_bar_block_wapper {
        font-size: 18px;
    }
    .pop_up_logo {
        display: block;
        margin-bottom: 23px;
    }
    .pop-up-main-wapper-meta-title h2 {
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
    }
    .pop-up-main-wapper-right {
        width: 70%;
        padding: 20px;
        text-align: center;
    }
    .pop_up_logo .brand_logo {
        max-width: 80%;
        margin: 0 auto;
    }
    .pop-up-main-wapper-flex {
        justify-content: center;
    }
    .li_learn-wrap {
        grid-template-columns: 1fr auto;
        grid-auto-flow: dense;
    }
    .li_learn-line {
        position: absolute;
        right: 11px;
    }
    .li_learn-wrap {
        grid-column-gap: 36px;
        grid-row-gap: 0;
    }
    .bottam_cart_wapper_main_inner span.stike-li.small-li {
        font-size: 1rem;
    }
    .bottam_cart_wapper_flex_left {
        width: 38%;
    }
    .price_bundler_wapper_list_wapper {
        width: 100%;
        justify-content: flex-start;
    }
    .price_bundler_wapper_inner {
        padding: 70px 40px 49px 40px;
    }
    .announcement-bar-wrapper {
        padding: 10px 0;
    }
    section {
        padding: 35px 0;
    }
    footer.footer {
        padding: 75px 0;
       
    }
    .footer_flex {
        display: flex;
        width: auto;
        flex-wrap: wrap;
    }
    .footer_left_wapper {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer_right_wapper {
        width: 100%;
        align-items: flex-start;
    }
    .footer_contact_wapper {
        justify-content: flex-start;
        margin-bottom: 14px;
    }
    .footer_logo {
        max-width: 43%;
    }
    .banner_right_wapper {
        padding-bottom: 0;
    }
    .iamge_icon_main {
        width: 32%;
        padding: 10px;
    }
    .image_icon_inner {
        padding: 10px 24px;
    }
    section.discount_section li span {
        font-size: 30px;
    }
    section.discount_section  li {
        padding: 0.5em;
    }
    .discount_right_wapper {
        padding: 32px 10px;
        width: 100%;
    }
    .discount_flex {
        padding: 20px;
        flex-wrap: wrap;
    }
    .discount_flex {
        border-radius: 30px;
    }
    .about_us_left_wapper_inner {
        max-width: 100%;
    }
    .feature_wapper_card {
        width: 50%;
        padding: 17px;
        transition: all 0.8s;
    }
    .feature_wapper__card_title h4 {
        font-size: 23px;
        margin-bottom: 8px;
    }
    .price_plane_card_main {
        width: 80%;
        padding: 10px;
    }
 
    .bonus_meta_dis {
        font-size: 16px;
    }
    .bonus_meta_main {
        position: relative;
        padding: 19px 14px;
        transition: 0.5s;
    }
    .bonus_meta_price .li_price {
        font-size: 20px;
        text-align: center;
        margin-top: 14px;
    }
    .logo_meta_bottam {
        max-width: 17%;
        padding: 11px;
    }
    .bonus_wapper_flex {
        row-gap: 5px;
    }
    .bonus_meta_title h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .why_choose_card_main {
        width: 50%;
        padding: 9px;
        margin-bottom: 10px;
    }
    .why_choose_card_heading .feature_wapper__card_title h4 {
        font-size: 16px;
    }
    section {
        padding: 25px 0;
    }
    .meet_our_expert_left_wapper_botttam_review_dis {
        font-size: 16px;
    }
    .meet_our_expert_left_wapper_botttam_review_inner {
        padding: 30px;
    }
    .meet_our_expert_right_wapper_inner_meta h3 {
        font-size: 27px;
    }
    .price_bundler_wapper_list_wapper_icon {
        width: 8%;
    }
    .meet_our_expert_bottam_time_wapper_main_inner {
        display: flex;
        width: auto;
        padding: 60px 0;
        padding-bottom: 0;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .meet_our_expert_bottam_time_wapper_right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
    .meet_our_expert_bottam_time_wapper_left {
        text-align: center;
    }
}
@media screen and (max-width: 574px) {
    .price_bundler_wapper_list_wapper_dis {
        color: white;
        font-size: 22px;
    }
    
    .price_bundler_wapper_list_of_view {
        row-gap: 23px;
    }
    .feature_wapper__card_image {
        height: 75px;
        margin-bottom: 24px;
        width: 75px;
    }
    .meet_our_expert_bottam_time_wapper_left {
        width: 100%;
    }
    .banner_right_wapper_brand_logo {
        max-width: 45%;
    }
   
    .pop-up-main-wapper-right {
        width: 90%;
        padding: 20px;
        text-align: center;
        border-radius: 20px;
        box-shadow: inset 1px 1px 7px 0px black;
    }
    .pop_up_logo .brand_logo {
        max-width: 60%;
        margin: 0 auto;
    }
    .pop-up-main-wapper-meta-title h2 {
        font-size: 20px;
        line-height: 29px;
        font-weight: bold;
        text-align: center;
    }
    .li_learn-content-wrap {
       
         box-shadow: 0px 0px 21px -5px #00000000; 
    }
    section.price_plane_section .feature_section_title {
        margin-bottom: 0px;
    }
    .meet_our_expert_left_wapper_botttam_review_inner {
        padding: 19px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 13px;
    }
    .li_learn-wrap {
        grid-column-gap: 15px;
        grid-row-gap: 0;
    }
    .li_learn-content-wrap {
        padding: 27px 18px;
    }
    .li_text-diff {
        font-size: 19px;
    }
    .meet_our_expert_right_wapper_inner {
        max-width: 100%;
        margin-top: 20px;
        padding: 30px;
    }
    .meet_our_expert_left_wapper_botttam_review_image {
        width: 35%;
    }
    .banner_right_wapper_dis {
        font-size: 17px;
        margin-bottom: 16px;
        line-height: 25px;
    }
    .bottam_cart_wapper_main_inner .gmwqp_inquirybtn_loop {
        width: 100%;
        max-width: 100%;
    }
    .bottam_cart_wapper_flex .bottam_cart_wapper_flex_right .enquiry_button_main {
        display: flex;
        justify-content: center;
    }
    .bottam_cart_wapper_flex_right {
        width: 100%;
    }
    .bottam_cart_wapper_main_inner .li_price {
        font-size: 25px;
    }
    .bottam_cart_wapper_flex_left {
        width: 38%;
        display: none;
    }
    .follow_on_soc_wapper_button a {
    max-width: 100%;
}
    .follow_on_soc_wapper_disc {
    font-size: 16px;
}
    .section_main_title_wa h3 {
    font-size: 26px;
    line-height: 1.40;
    margin-bottom: 20px;
}
    .follow_on_soc_wapper_inner {
    padding: 30px;
    border-radius: 30px;
}
     .price_single_section .li_price {
        font-size: 25px;
        text-align: center;
    }
    .price_bundler_wapper_price_main {
    padding: 12px 12px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
    .price_bundler_wapper_inner {
    border-radius: 30px;
}
    ul.accordion-list li h3 {
        font-size: 17px;
        padding-right: 30px;
        line-height: 25px;
    }
    section.banenr_section .li_price {
        font-size: 30px;
    }
    .li_time.register-on {
        font-size: 1.18rem;
        font-weight: 700;
        color: #fff;
    }
    .li_offertext {
        color: #ffffff;
        font-size: 1.18rem;
    }
    .fooer_discriptions {
        font-size: 17px;
        line-height: 27px;
    }
    .section_main_title_wa h3 {
        font-size: 27px;
        margin-bottom: 14px;
    }
    .image_icon_inner {
        padding: 2px 15px;
    }
    .image_icon_inner img {
        height: 38px;
        object-fit: contain;
    }
    .iamge_icon_main {
        width: 32%;
        padding: 5px;
    }
    .discount_right_wapper_heading h3 {
        font-size: 24px;
        line-height: 29px;
    }
    section.discount_section li span {
        font-size: 28px;
    }
    section.discount_section  li {
        font-size: 14px;
    }
    .discount_flex .gmwqp_inquirybtn_loop {
        max-width: 100%;
    }
    .about_us_heading h2 {
        font-size: 26px;
        line-height: 34px;
    }
    .section_sub_title_comm p {
        font-size: 17px;
    }
    .feature_wapper_flex {
        display: flex;
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
        padding: 00 30px;
    }
    .feature_wapper_card {
        width: 90%;
        padding: 17px;
        transition: all 0.8s;
    }
    .our_expert_left_inner_meta_list_icon i {
        font-size: 39px;
        color: #ff930e;
    }
    .our_expert_left_inner_meta_list_meta_dis {
        font-size: 14px;
    }
    .price_plane_card_main {
        width: 100%;
        padding: 10px;
    }
    .bonus_main_wapper {
        width: 100%;
    }
    .bonus_meta_main {
        position: relative;
        padding: 19px 14px;
        transition: 0.5s;
        padding-bottom: 50px;
    }
    .meet_our_expert_left_wapper_inner_right {
        width: 100%;
        padding-left: 0;
        margin-top: 40px;
    }
    .meet_our_expert_left_wapper_inner_left {
        width: 100%;
    }
    .meet_our_expert_left_wapper_inner {
        flex-wrap: wrap;
    }
    .price_bundler_wapper_inner .gmwqp_inquirybtn_loop {
        max-width: 100%;
    }
}
@media screen and (max-width: 424px) {
    .price_bundler_wapper_inner {
        padding: 70px 30px 49px 30px;
    }
    section.discount_section  li {
        font-size: 12px;
    }
    .pop-up-main-wapper-right {
        width: 100%;
        padding: 20px;
        text-align: center;
        border-radius: 20px;
        box-shadow: inset 1px 1px 7px 0px black;
    }
    .enquiry_button_main .gmwqp_inquirybtn_loop a.button.gmwqp_inq {
        font-size: 15px;
        padding: 12px 0;
    }
    .pop-up-main-wapper-meta-title h2 {
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
        text-align: center;
    }
    .pop-up-main-wapper-meta #countdown_pop_up ul li { 
        margin-right: 6px;
    }
    .pop-up-main-wapper-meta .gmwqp_inquirybtn_loop {
        margin-top: 15px;
    }
    .pop-up-main-wapper-meta .enquiry_button_main .gmwqp_inquirybtn_loop a.button.gmwqp_inq {
        font-size: 16px;
        padding: 10px 0;
    }
    .pop-up-main-wapper-meta-description {
        margin-bottom: 20px;
        font-size: 13px;
    }
   
    .container {
        max-width: 1366px;
        padding: 0 20px;
        margin: 0 auto;
    }
    .meet_our_expert_bottam_time_wapper_main_inner {
        padding: 44px 0;
        padding-bottom: 0;
    }
    .meet_our_expert_bottam_time_wapper_main_inner .li_price {
        font-size: 35px;
    }
    .meet_our_expert_right_wapper_inner_meta h3 {
        font-size: 23px;
    }
    .meet_our_expert_bottam_time_wapper_main_inner .gmwqp_inquirybtn_loop {
        margin-top: 10px;
        display: inline-block;
        width: 100%;
        max-width: 100%;
    }
    .section_main_title_wa h3 {
    font-size: 22px;
}
     .price_single_section .li_price {
        text-align: center;
    }
    .banner_right_wapper_heading h1 {
        font-size: 26px;
        line-height: 39px;
    }
    .banner_right_wapper {
        padding: 30px 0;
        width: 100%;
    }
    .banner_right_wapper_heading {
        margin-bottom: 10px;
    }
    .banner_right_wapper_dis {
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 25px;
    }
    .enquiry_button_main .gmwqp_inquirybtn_loop a.button.gmwqp_inq {
        font-size: 16px;
        padding: 12px 0;
    }
    .fooer_discriptions {
        font-size: 15px;
        line-height: 25px;
    }
    .footer_contact_wapper_meq a {
        font-size: 18px;
    }
    .footer_logo {
        max-width: 48%;
    }
    .discount_right_wapper {
        padding: 20px 0px;
        width: 100%;
    }
    .feature_wapper_card {
        width: 100%;
        padding: 17px 0;
        transition: all 0.8s;
    }
    .last_waspper {
        padding: 71px;
    }
}
@media screen and (max-width: 374px) {}
@media screen and (max-width: 319px) {}
